html,body{
    overflow: hidden;
    /* -webkit-overflow-scrolling: none; */
}
* { touch-action: none; }
/* 游戏内部盒子 */
.game_body{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/* 头部 */
#gameTopBar{
    position: initial;
    display: inline-block;
}

/* 游戏部分 */
.gameLayerBox{
    position: relative;
}
.stoneImg{
    position: relative;
    width:100%;
    height:25rem;
}
.stoneImg li{
    position: absolute;
    top:70%;
    transform: scale(2.8)
}
.stoneImg li:nth-child(1){
    display: none;
}
.stoneImg li.left{
    transition: all 4s;
    left:-22%;
}
.stoneImg li.right{
    transition: all 4s;
    right:-22%;
}

/* 石头动画 */
.stoneImg li.animer_left{
    top:3%;
    left:30%;
    transform: scale(.4);
}
.stoneImg li.animer_right{
    top:3%;
    right:30%;
    transform: scale(.4);
}
.gameDog{
    position: absolute;
    top:21%;
    left:50%;
    transform: translate(-50%,0%);
}
.gameDog img{
    width:2.6rem;
}

/* 出现的人 */
.user{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.user li.top_user{
    width:30%;
    position: absolute;
    bottom:0;
    left:0;
    transition: all 5s;
    transform: scale(1)
}
.user li img{
    width:100%;
}

.user li:nth-child(1){
    display: none;
}
.user li:nth-child(2){
    display: none;
}

.user li.top_user.animer{
    transform: scale(.3);
    left:32%;
    bottom:85%;
}
.user li.top_user.num1{
    width:30%;
    position: absolute;
    bottom:-25%;
    left:38%;
    transition: all 5s;
    transform: scale(1)
}
.user li.top_user.animer.num1{
    transform: scale(.3);
    left:35%;
    bottom:85%;
}
.user li.top_user.num2{
    width:30%;
    position: absolute;
    bottom:-25%;
    left:76%;
    transition: all 5s;
    transform: scale(1)
}
.user li.top_user.animer.num2{
    transform: scale(.2);
    left:40%;
    bottom:85%;
}
.user li.left_user{
    width:80%;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%,0) scale(1);
    transition: all 5s;
}
.user li.left_user.animer{
    transform: translate(-50%,0) scale(.2)  ;
    bottom:90%;
}

/* 奖励 */
.user .gold , .user .gold_brick{
    position: absolute;
    width:30%;
    bottom:-20%;
    transition: all 5s;
    transform: scale(1.6)
}
.user .gold:nth-child(3),.user .gold_brick:nth-child(4){
    display: none;
}
.user .gold.num1,.user .gold_brick.num1{
    left:-12%;
}
.user .gold.num2,.user .gold_brick.num2{
    left:33%;
}
.user .gold.num3,.user .gold_brick.num3{
    left:84%;
}
.user .gold.num1.animer,.user .gold_brick.num1.animer{
    bottom:89%;
    transform: scale(.2);
    left:31%;
}
.user .gold.num2.animer,.user .gold_brick.num2.animer{
    bottom:89%;
    transform: scale(.2);
    left:35%
}
.user .gold.num3.animer,.user .gold_brick.num3.animer{
    bottom:89%;
    transform: scale(.2);
    left:38%;
}
/* .user .gold_brick{
    position: absolute;
    width:20%;
} */

/* 显示小狗红字 */
.dogHint{
    position: absolute;
    bottom:0;
    left:-40%;
    font-size: 28px;
    color:rgb(0, 255, 0)
}
.dogHint:nth-child(2){
    display: none;
}
